# ===== NGINX =====
NGINX_PORT=80

# ===== MySQL =====
# ===== MySQL PAYROLL COMMON =====
MYSQL_USER=payroll
MYSQL_PASSWORD=payroll
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306

# ===== MYSQL PAYROLL EMPLOYEES =====
MYSQL_EMPLOYEES_DATABASE=payroll-employees
MYSQL_EMPLOYEES_VOLUME=mysql-payroll-employees-data

# ===== MYSQL PAYROLL DEPARTMENTS =====
MYSQL_DEPARTMENTS_DATABASE=payroll-departments
MYSQL_DEPARTMENTS_VOLUME=mysql-payroll-departments-data

# ===== Spring Datasource =====
# ===== Spring PAYROLL COMMON =====
SPRING_DATASOURCE_USERNAME=payroll
SPRING_DATASOURCE_PASSWORD=payroll
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# ===== Spring PAYROLL EMPLOYEES =====
SPRING_DATASOURCE_URL=jdbc:mysql://ms-payroll-employees-database:3306/payroll?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC

# ===== Spring PAYROLL DEPARTMENTS =====
SPRING_DATASOURCE_URL=jdbc:mysql://ms-payroll-departments-database:3306/payroll?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC